a:link {
  color: #666;
}

/* visited link */
a:visited {
  color: #666;
}

/* mouse over link */
a:hover {
  color: #333;
}

/* selected link */
a:active {
  color: #333;
}

.center {
  text-align: center;
}
